{% extends "base.html.twig" %}

{% block body %}
<div class="container my-md-4">
    <div class="row">
        <h1>Most popular answers</h1>
    </div>

    <form action="{{ path('app_answers_popular') }}">
        <input type="search" name="q" value="{{ app.request.get('q') }}" class="form-control" placeholder="Search..." aria-label="Search">
    </form>
    <ul class="list-unstyled">
        {% for answer in answers %}
            {{ include('answers/_answer.html.twig', {showQuestion: true}) }}
        {% endfor %}
    </ul>
</div>
{% endblock %}
